/* styles.css */
body {
  background-color: rgb(130, 103, 14);
  margin: 0px;
  height: 100vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('./hero-background.jpg');
}

.header {
  background-color: #82670e;
  padding: 20px;
}

.logo {
  margin: 0px;
  margin-right: auto;
}

.top-navigation {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 15px;
  color: white;
}

.top-navigation>button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  height: 20px;
  font-family: inherit;
}

.top-navigation > * {
  cursor: pointer;
}

.menu-item:hover {
  color: rgb(211, 209, 209);
}

#content {
  max-width: 1000px;
  margin: auto;
}

.button {
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  padding: 12px 35px 12px 35px;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 3px;
}

.button-primary {
  background-color: #667803;
  border: 1px solid white;
  color: white;
}

.button-primary:hover {
  background-color: #798e03;
}

.button-secondary {
  background: none;
  color: white;
}

.button-secondary:hover {
  color: rgb(211, 209, 209);
}

@media (max-width: 576px) {
  .button {
    width: 100%;
    margin-bottom: 15px;
  }
}